pipeline/Generate NYC Image Metadata.json
{
	"name": "Generate NYC Image Metadata",
	"properties": {
		"activities": [
			{
				"name": "CopyImageFiles",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "MDWResources_NYCImages_Binary",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SynapseDataLake_NYCImages_Binary",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetImageFileList",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "CopyImageFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SynapseDataLake_NYCImages_Binary",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachImage",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetImageFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetImageFileList').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetImageMetadata",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21358792@students.ltu.edu.au/NYCImageMetadata-BUS5001-Week8",
								"baseParameters": {
									"nycImageUrl": {
										"value": "@concat(variables('ImageMetadataContainerUrl'), item().name)",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ADPDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ServeImageMetadata",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEachImage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "CosmosDbSqlApiSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SynapseDataLake_NYCImageMetadata_JSON",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADPCosmosDB_NYCImageMetadata",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"ImageMetadataContainerUrl": {
				"type": "String",
				"defaultValue": " https://synapsedatalakedew4h.blob.core.windows.net/nycimages/"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-25T11:21:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}